# Kafka / Redpanda
KAFKA_BOOTSTRAP_SERVERS=redpanda:29092
KAFKA_USERNAME=admin
KAFKA_PASSWORD=secret

# TimescaleDB
POSTGRES_DB=earthquake
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=timescaledb
POSTGRES_PORT=5432

# JDBC URL
JDBC_URL=jdbc:postgresql://timescaledb:5432/earthquake

# Nginx Basic Auth
NGINX_BASIC_USER=admin
NGINX_BASIC_PASSWORD=admin123