# Kafka / Redpanda
RP_BOOTSTRAP_SERVERS=redpanda:29092
RP_USER=admin
RP_PASSWORD=secret

# TimescaleDB
TIMESCALEDB_DB=postgres
TIMESCALEDB_USER=postgres
TIMESCALEDB_PASSWORD=postgres
TIMESCALEDB_HOST=timescaledb
TIMESCALEDB_PORT=5432

# JDBC URL
JDBC_URL=jdbc:postgresql://timescaledb:5432/postgres

# Metabase
METABASE_DB_HOST=metabase-db
METABASE_DB=metabase
METABASE_DB_PORT=5432
METABASE_DB_USER=metabase_user
METABASE_DB_PASSWORD=your_secure_password

# Nginx Basic Auth
NGINX_BASIC_USER=admin
NGINX_BASIC_PASSWORD=admin123